version: '3.8'
services:
  api:
    build: .
    env_file:
      - .env
    environment:
      - DEBUG=${DEBUG}
      - CORS_ORIGINS=${CORS_ORIGINS}
      - DEFAULT_PROVIDER=${DEFAULT_PROVIDER}
    ports:
      - "8020:8020"
